<header>
    <div class="container-grid cabecalho">
        <a href="index.html"><img src="assets/img/gamemanialogo(pequeno).png" class="logo"
                alt="logomarca da GameMania"></a>
        <form>
            <div class="divBusca">
                <form action="">
                    <input type="text" id="produto-buscado" class="caixa" class="txtBusca"
                        placeholder="busque aqui">
                    <button class="busca" onclick="buscarProduto()"><img src="assets/img/lupa(pequeno).png"
                             class="lupa" alt="lupa"></button>
                </form>
            </div>
        </form>
        <div class="login"><img src="assets/img/login(40x40).png" class="iconeLogin" alt="login ou cadastro"><a
                routerLink="/loginCadastro" class="linklogin"><span>Faça login<br>ou se cadastre</span></a></div>
        <a href=""><img src="assets/img/favoritos(40x40).png" class="favoritos" alt="ícone de favoritos"></a>
        <a href=""><img src="assets/img/carrinho(40x40).png" class="cesto" alt="carrinho"></a>

    </div>
</header>
