<footer class="footer">
    <div class="container-grid DivFooter">
        <div class="cont">
            <div>
                <div class="text-title-footer">Formas de pagamento</div>
                <div class="itens-pag">
                    <img src="assets/img/formas de pagamento/cartoes-forma-de-pagamento 1.png" class="img-pag1" alt="">
                    <img src="assets/img/formas de pagamento/pix(sem fundo) 1.png" class="img-pag2" alt="">
                    <img src="assets/img/formas de pagamento/boleto-icone-branco 1.png" class="img-pag3" alt="">
                </div>
            </div>
            <div>
                <div class="text-title-footer text-seg">Segurança</div>
                <div class="itens-seg">
                    <a href="#"><img src="assets/img/segurança/certificadoRA1000 1.png" class="img-seg1" alt=""></a>
                    <a href="#"><img src="assets/img/segurança/103388 1.png" class="img-seg2" alt=""></a>
                    <a href="#"><img src="assets/img/segurança/googlesiteseguro 1.png" class="img-seg3" alt=""></a>
                    <a href="#"><img src="assets/img/segurança/excelente 1.png" class="img-seg4" alt=""></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-grid DivFooter">
        <div class="cont1">
            <div>
                <div class="text-title-footer">Institucional</div>
                <ul class="list-footer">
                    <li class="marcador"><a class="linkFooter" href="#">Quem somos</a></li>
                    <li class="marcador"><a class="linkFooter" href="#">Termos e condições</a></li>
                    <li class="marcador"><a class="linkFooter" href="#">Política de trocas e devoluções</a></li>
                    <li class="marcador"><a class="linkFooter" href="#">Política de segurança e privacidade</a></li>
                </ul>
            </div>
            <div>
                <div class="text-title-footer">Dúvidas</div>
                <ul class="list-footer">
                    <li class="marcador"><a class="linkFooter" href="#">Como comprar</a></li>
                    <li class="marcador"><a class="linkFooter" href="#">Prazos e entregas</a></li>
                    <li class="marcador"><a class="linkFooter" href="#">Formas de pagamento</a></li>
                    <li class="marcador"><a class="linkFooter" routerLink="/faleconosco">Fale conosco</a></li>
                </ul>
            </div>
            <div>
                <div class="text-title-footer">Cliente</div>
                <ul class="list-footer">
                    <li class="marcador"><a class="linkFooter" href="#">Minha conta</a></li>
                    <li class="marcador"><a class="linkFooter" href="#">Meus pedidos</a></li>
                    <li class="marcador"><a class="linkFooter" href="#">Meus tickets</a></li>
                </ul>
            </div>
            <div>
                <div class="text-title-footer">Mídias sociais</div>
                <div class="img-mid">
                    <a href="#"><img src="assets/img/midias sociais/instagram 2.png" class="img-midias" alt=""></a>
                    <a href="#"><img src="assets/img/midias sociais/facebook 2.png" class="img-midias" alt=""></a>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="cont2 container-grid">
            <div>
                <div class="text-title-footer">Atendimento</div><br>
                <div class="text-inf-footer">
                    Horário de atendimento: 08:00 às 20:00 - Segunda a Sábado, horário de Brasília
                    <br>(exceto domingo e feriados)<br><strong>Endereço</strong>: Rua Lauro Braga, 1461 - 4° andar -
                    Centro - Liberdade/SP - CEP: 00000-000<br><strong>Central SAC</strong>: (00)
                    0000-0000<br><strong>E-mail</strong>: faleconosco@gamenania.com.br
                </div>
            </div>
        </div>
    </div>
</footer>

<footer class="footer-mobile">
    <div class="container-grid DivFooter">
        <div class="cont">
            <div>
                <div class="text-title-footer">Formas de pagamento</div>
                <div class="itens-pag">
                    <img src="assets/img/formas de pagamento/cartoes-forma-de-pagamento 1.png" class="img-pag1" alt="">
                    <img src="assets/img/formas de pagamento/pix(sem fundo) 1.png" class="img-pag2" alt="">
                    <img src="assets/img/formas de pagamento/boleto-icone-branco 1.png" class="img-pag3" alt="">
                </div>
            </div>
            <div>
                <div class="text-title-footer text-seg">Segurança</div>
                <div class="itens-seg">
                    <a href="#"><img src="assets/img/segurança/certificadoRA1000 1.png" class="img-seg1" alt=""></a>
                    <a href="#"><img src="assets/img/segurança/103388 1.png" class="img-seg2" alt=""></a>
                    <a href="#"><img src="assets/img/segurança/googlesiteseguro 1.png" class="img-seg3" alt=""></a>
                    <a href="#"><img src="assets/img/segurança/excelente 1.png" class="img-seg4" alt=""></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-grid DivFooter">
        <div class="cont1">
            <div class="section-footer">
                <div class="text-title-footer">Institucional</div><hr class="linha">
                    <a class="linkFooter" href="#">Quem somos</a><hr class="linha">
                    <a class="linkFooter" href="#">Termos e condições</a><hr class="linha">
                    <a class="linkFooter" href="#">Política de trocas e devoluções</a><hr class="linha">
                    <a class="linkFooter" href="#">Política de segurança e privacidade</a><hr class="linha">
            </div>
            <div class="section-footer">
                <div class="text-title-footer">Dúvidas</div><hr class="linha">
                    <a class="linkFooter" href="#">Como comprar</a><hr class="linha">
                    <a class="linkFooter" href="#">Prazos e entregas</a><hr class="linha">
                    <a class="linkFooter" href="#">Formas de pagamento</a><hr class="linha">
                    <a class="linkFooter" routerLink="/faleconosco">Fale conosco</a><hr class="linha">
            </div>
            <div class="section-footer">
                <div class="text-title-footer">Cliente</div><hr class="linha">
                    <a class="linkFooter" href="#">Minha conta</a><hr class="linha">
                    <a class="linkFooter" href="#">Meus pedidos</a><hr class="linha">
                    <a class="linkFooter" href="#">Meus tickets</a><hr class="linha">
            </div>
            <div class="section-footer1">
                <div class="text-title-footer">Mídias sociais</div>
                <div class="img-mid">
                    <a href="#"><img src="assets/img/midias sociais/instagram 2.png" class="img-midias" alt=""></a>
                    <a href="#"><img src="assets/img/midias sociais/facebook 2.png" class="img-midias" alt=""></a>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="cont2 container-grid">
            <div>
                <div class="text-title-footer">Atendimento</div><br>
                <div class="text-inf-footer">
                    Horário de atendimento: 08:00 às 20:00 - Segunda a Sábado, horário de Brasília
                    <br>(exceto domingo e feriados)<br><strong>Endereço</strong>: Rua Lauro Braga, 1461 - 4° andar -
                    Centro - Liberdade/SP - CEP: 00000-000<br><strong>Central SAC</strong>: (00)
                    0000-0000<br><strong>E-mail</strong>: faleconosco@gamenania.com.br
                </div>
            </div>
        </div>
    </div>
</footer>
