<section class="informUsuario">
    <h1>Identificação</h1>
        <h2>Faça login</h2>
            <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" maxlength="40" required autocomplete [(ngModel)]="loginModel.email">
                <br><br>
                <label for="password-example">Senha</label>
                <input type="password" name="password" id="password-example" [(ngModel)]="loginModel.password">
                <br><br>
                <input id="botao-enviar" type="submit" value="fazer login">
            </form>
            
            <br><br>
            <a href="#">Esqueci meu login</a><br>
            <a href="#">Esqueci minha senha</a>
    
            <h2>Faça cadastro</h2>
            <form action="">
                <label for="email">E-mail:</label>
                <input type="email" id="campo-email" name="email" maxlength="40" required autocomplete>
                <br><br>
                <label for="password-example">Crie sua senha</label>
                <input type="password" id="password-example">
                <br><br>
                <label for="password-example">Confirme sua senha</label>
                <input type="password" id="password-example">
                <br><br>
                <label for="number-example">CPF ou CNPJ</label>
                <input type="number" id="number-CPFouCNPJ">
                <br><br>
                <label for="number-example">CEP</label>
                <input type="number" id="number-CEP">
                <br><br>
                <button onclick="cadastrarCliente()">Cadastrar</button>
            </form>
</section>
