<section class="duvidas">
    <h1>Está com dúvidas?</h1>
        <p>A equipe GameMania pode ajudar você.</p>
        <input type="text" placeholder="busque respostas">
        <button><img src="assets/img/lupa(pequeno).png" alt="lupa"></button>
    
        <a href="#"><h2>Andamento do pedido</h2></a>
        <a href="#"><h2>Alteração do pedido</h2></a>
        <a href="#"><h2>Cartão não aprovado</h2></a>
        <a href="#"><h2>Confirmação de boleto</h2></a>
        <a href="#"><h2>Solicitação de garantia</h2></a>
        <a href="#"><h2>Dúvidas diversas</h2></a>
        <a href="#"><h2>Outros</h2></a>
</section>
