<section class="inform">
    <img src="assets/img/produto.png" alt="">
        <p>Computador T-Home Office TECNOART Intel i3 10100 / DDR4 8GB / SSD 240GB</p>
        <br>
        R$ 3.561,00 à vista
        <br>
        12x de R$ 296,75 sem juros
        <h2>Características gerais</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla atque quia commodi perferendis assumenda tenetur distinctio autem laboriosam error exercitationem ea fuga inventore rerum cupiditate, ex doloremque aut vero modi!</p>
        <h2>Especificações técnicas</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla atque quia commodi perferendis assumenda tenetur distinctio autem laboriosam error exercitationem ea fuga inventore rerum cupiditate, ex doloremque aut vero modi!</p>
        <h2>Avaliações</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla atque quia commodi perferendis assumenda tenetur distinctio autem laboriosam error exercitationem ea fuga inventore rerum cupiditate, ex doloremque aut vero modi!</p>
        <button>Comprar</button>
</section>
